body
{
    background-color: rgb(69, 25, 25);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#wrapper
{
    background-color: rgb(50, 48, 48);
    margin-left: 10%;
    margin-right: 10%;
    border: solid;
    border-width: 0.2em;
    border-color: black;
}

header
{
    text-align: center;
    font-size: 2em;
    border-bottom: solid;
    border-color:black;
}


nav
{
    background-color: black;

    margin-right: 2em;
    float: left;
  
}

footer
{
    text-align: center;
}

#navList
{
    text-align: center
}

.navEntry
{
    text-align: center; 
    display: table;
}

.navLink
{
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: white;
    
}

.navLink:hover
{
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: white;
    background-color: gray;
}


main
{
    padding-left: 6em;
    padding-right: 2em;
    font-size: 20pt;
}

.source
{
    color: white;
}

iframe
{
    float: right;
    clear: left;
}

img
{
    float:right;
    clear:left;
}

.centered
{
    text-align: center;
}

.justified
{
    text-align: justify;
}

