body
{
    background-color: rgb(69, 25, 25);
    color: white
}

#wrapper
{
    background-color: rgb(50, 48, 48);
    margin-left: 10%;
    margin-right: 10%;
    width:auto; 
    border: solid;
    border-width: 0.2em;
    border-color: black;
}

header
{
    text-align: center;
    font-size: 2em;
}

nav
{
    background-color: black;
    float: left;
    width: 30px;
    padding: 15px;
}

#navList
{
    margin-left: 5.5%;
    margin-right: 5.5%;
    width: auto;
    text-align: center;
}

.navEntry
{
    display: inline;
    text-align: center; 
}

.navLink
{
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: white;
}

.navLink:hover
{
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: white;
    background-color: gray;
}


main
{  
    padding-left: 2em;
    padding-right: 2em;
}

hr
{
    height: 2px;
    width: 100%;
    background-color: rgb(69, 25, 25);
    border: solid;
    border-width: 0.01em;
    border-color: black;
}

iframe{
    float: right;
    clear: left;
}
footer
{

}

